#form-content {
    padding: .5em;
    height: 90%;
    width: 60%;
    float: left;
    display: block;
}

#feedback {
    padding: .5em;
    height: 10%;
    width: 60%;
    float: left;
}

#side-view {
    padding: .5em;
    height: 100%;
    width: 40%;
    float: right;
}