header nav a,
header nav a:hover
{
    color: white;
    text-decoration: none;
}

header nav,
header nav > div,
header nav > div > ul,
header nav > div > ul > li,
header nav > div > ul > li > a
{
    height: 100%
}

header nav > div
{
    display: inline-block;
    top: 0%;
    text-align: center;
}

#nav-header > *,
#nav-footer > *
{
    font-size: 1.5em;
    height: 100%;
    top: 50%;
    padding: 0 1.2em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

#nav-header
{
    width: auto;
}

#nav-main
{
    font-size: 1.2em;
    width: auto;
    margin-left: auto;
}

#nav-footer 
{
    width: auto;
    float: right;
}

header nav ul
{
    text-align: center;
    list-style: none;
}

header > nav ul li
{
    display: inline-block;
    top: 50%;
}

#nav-header a:hover,
header nav ul > li:hover
{
    background-color: black;
}

header nav ul li a
{
    padding: 0 1.2em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.active
{
    background-color: #4949d3;
}

header nav ul li > ul
{
    z-index: 10;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

header nav ul li > ul li
{
    display: block;
    background: #eeeeee;
    border-radius: 5px;
}

header nav ul li > ul li a
{
    display: block;
    color: black;
    padding: .7em 1.2em;
}

header nav ul li:hover > ul, 
header nav ul li > ul:hover
{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}


header > nav ul li > ul li:hover
{
    background-color: lightgray;
}