* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body 
{
    height: 100%;
    width: 100%;
}

body header
{
    height: 7%;
    width: 100%;
    font-family: Helvetica, serif;
    background-color: #333;
    color: white;
}

body main{
    height: 88%;
    width: 100%;
}

body footer
{
    height: 5%;
    width: 100%;
    font-family: Helvetica, serif;
    background-color: #111;
    color: white;
}

.table-classic
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    
    border: 1px solid #ddd;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-classic tr > td
{
    border: 1px solid #ddd;
}

.table-classic thead
{
    text-align: center;
}

.table-classic thead > tr > td
{
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
}

.table-classic thead > tr > td {
    border-bottom-width: 2px;
}

.table-classic tbody > tr > td
{
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
}